/* import voor nieuwe font-variabelen */
@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger|Roboto:300,300i,400,400i,500,500i,700,700i');

/* variabelen voor de fonts */
$fontset1: 'Jolly Lodger',
cursive;
$fontset2: 'Roboto',
sans-serif;

/* variabelen voor de kleuren */
$colorY: #F9F2D8;
$colorLG: #EEF1EA;
$colorDG: #585958;
$colorLB: #D0DEDE;
$colorDB: #015C77;

/* breekpunt instellen voor van mobile naar screen */
$breekpunt: 560px;
$breekpuntsm: 768px;
$breekpuntmd: 992px;
$breekpuntlg: 1200px;

/* via een universele selector gaan we alles aanspreken */
* {
    font-family: $fontset2;
    font-size: 20px;
}

body {
    background-color: $colorDB;
}

.active {
    border: 2px solid $colorLG;
    border-radius: 20px;
}

/* Navigatie */
.navbar-header {

    a {
        font-family: $fontset1;
        font-size: 40px;
    }
}

.navbar-home {
    background-color: $colorDB;

    a {
        color: $colorLG;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Header Home*/
.header-home-fl {
    padding-top: 80px;

    @media (min-width: $breekpunt) {
        padding-top: 150px;
        padding-bottom: 130px;
        padding-left: 120px;
        padding-right: 120px;
    }

    .img {
        width: 100%;
        height: auto;
        padding-bottom: 50px;

        @media (min-width: $breekpunt) {
            padding-bottom: 0px;
            padding-top: 25px;
        }
    }

    .img:hover {
        transform: scale(1.1);
        transition-duration: 3s;
    }

    h1,
    h2,
    h3 {
        font-family: $fontset1;
        color: $colorLG;
        text-align: center;
        vertical-align: middle;
    }

    h1 {
        font-size: 120px;

        @media (min-width: $breekpunt) {
            font-size: 140px;
            line-height: 7rem;
            padding-top: 25px;
        }

        @media (min-width: $breekpuntsm) {
            font-size: 120px;
            line-height: 5rem;
        }

        @media (min-width: $breekpuntmd) {
            font-size: 160px;
            line-height: 8rem;
        }
    }

    h2 {
        font-size: 50px;
        padding-bottom: 100px;

        @media (min-width: $breekpunt) {
            font-size: 50px;
        }

        @media (min-width: $breekpuntsm) {
            font-size: 36px;
        }

        @media (min-width: $breekpuntmd) {
            font-size: 52px;
        }
    }
}

/* Wat is popcofobie */
.Watispopcofobie-fl {
    background-image: url("images/wolkmobile.png");
    background-position: center;
    min-height: 1100px;
    background-size: cover;

    @media (min-width: $breekpunt) {
        background-image: url("images/wolkmobile.png");
        min-height: 1150px;
        background-size: cover;
    }

    @media (min-width: $breekpuntsm) {
        background-image: url("images/achtergrondWolk.png");
        min-height: 900px;
        background-size: cover;
    }

    .Watispopcofobie {
        padding-top: 80px;

        @media (min-width: $breekpunt) {
            padding-top: 20px;
        }

        @media (min-width: $breekpuntsm) {
            padding-top: 250px;
        }

        .img {
            padding-top: 20px;
            width: 60%;
            margin-left: 20%;
            height: auto;
            padding-bottom: 40px;

            @media (min-width: $breekpunt) {
                padding-top: 80px;
            }

            @media (min-width: $breekpuntsm) {
                width: 100%;
                height: auto;
                padding-top: 200px;
            }

            @media (min-width: $breekpuntmd) {
                padding-top: 150px;
            }
        }

        h3 {
            font-family: $fontset1;
            color: $colorDG;
            font-size: 90px;
            line-height: 5rem;
            text-align: center;

            @media (min-width: $breekpunt) {
                font-size: 100px;
            }

            @media (min-width: $breekpuntsm) {
                padding-top: 50px;
            }
        }

        p {
            color: $colorDG;
            padding-top: 60px;
            text-align: center;

            @media (min-width: $breekpuntsm) {
                text-align: left;
            }

            @media (min-width: $breekpuntmd) {
                padding-top: 100px;
            }
        }
    }
}

/* Weetjes */
.facts {
    padding-top: 150px;
    padding-bottom: 150px;

    .facts_image_container {
        height: 200px;
        width: auto;


        .img {
            height: 200px;
            width: 200px;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .img:hover {
            transform: scale(1.2);
            transition-duration: 4s;
        }
    }

    h4 {
        font-family: $fontset1;
        color: $colorLB;
        font-size: 100px;
        text-align: center;
        padding-top: 20px;
    }

    p {
        color: $colorLB;
        text-align: center;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 80px;
    }
}

/* Nieuwsbrief */
.Nieuwsbrief-fl {
    background: url("images/achtergrondnieuwsM.png") center;
    min-height: 950px;
    background-size: cover;

    @media (min-width: $breekpuntsm) {
        background: url("images/achtergrondnieuws.png") center;
        min-height: 1050px;
    }

    .Nieuwsbrief {
        padding-top: 140px;

        @media (min-width: $breekpunt) {
            padding-top: 120px;
        }

        @media (min-width: $breekpuntmd) {
            padding-top: 300px;
        }

        .img {
            width: 100%;
            height: auto;
            padding-bottom: 80px;
        }

        h5 {
            font-family: $fontset2;
            color: $colorDG;
            font-weight: 500;
            font-size: 56px;
            text-align: center;

            @media (min-width: $breekpunt) {
                font-size: 68px;
            }
        }

        p {
            color: $colorDG;
            text-align: center;
            padding-top: 20px;
        }

        .form-group {
            padding-top: 30px;
        }

        .form-control {
            border-radius: 40px;
        }

        .btn-primary {
            border-radius: 40px;
            background-color: $colorDG;
            border: 2px solid $colorDG;
            color: $colorY;
        }

        .btn-primary:hover {
            background-color: $colorY;
            color: $colorDG;
        }
    }
}

/* Footer */
.page-footer {

    .img {
        height: 80px;
        width: auto;
        padding-left: 10px;
    }

    h6 {
        font-family: $fontset2;
        color: $colorLG;
        font-size: 20px;
    }

    p {
        font-family: $fontset2;
        color: $colorLG;
        font-size: 16px;
        line-height: 1rem;
        font-weight: 300;
    }

    .fa-facebook {
        color: $colorLG;
    }

    .fa-twitter {
        color: $colorLG;
    }

    .fa-google-plus {
        color: $colorLG;
    }

    .fa-linkedin {
        color: $colorLG;
    }
}

/* Header oorzaken*/
.header-oorzaken-fl {
    padding-top: 80px;

    @media (min-width: $breekpuntsm) {
        padding-top: 150px;
        padding-bottom: 130px;
        padding-left: 120px;
        padding-right: 120px;
    }

    h1 {
        font-family: $fontset1;
        color: $colorY;
        text-align: center;
        font-size: 90px;

        @media (min-width: $breekpunt) {
            font-size: 120px;
        }

        @media (min-width: $breekpuntsm) {
            font-size: 160px;
        }
    }
}

.evolutie-fl {
    background: url("images/achtergrondheader.png") center;
    height: 300px;
    background-size: cover;

    @media (min-width: $breekpunt) {
        height: 350px;

    }


    .evolutie {

        .img {
            width: 100%;
            height: auto;
            padding-top: 90px;

            @media (min-width: $breekpunt) {
                padding-top: 110px;
            }

            @media (min-width: $breekpuntsm) {
                padding-top: 0px;
            }
        }
    }
}

.oorzaken-fl {
    background-color: $colorY;

    .oorzaken {
        text-align: center;
        color: $colorDG;
        padding-top: 10px;
        padding-bottom: 20px;

        @media (min-width: $breekpunt) {
            padding-top: 40px;
            padding-bottom: 50px;
        }

        @media (min-width: $breekpuntsm) {
            padding-top: 30px;
        }

        @media (min-width: $breekpuntmd) {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        p {
            line-height: 1.8rem;
        }

    }
}

/* Header behandeling*/
.header-behandeling-fl {
    padding-top: 80px;
    background: url("images/headerDBLG.png") center;
    min-height: 400px;
    background-size: cover;

    @media (min-width: $breekpuntsm) {
        padding-top: 150px;
        padding-bottom: 130px;
        padding-left: 120px;
        padding-right: 120px;
        min-height: 600px;
    }

    h1 {
        font-family: $fontset1;
        color: $colorLG;
        text-align: center;
        font-size: 80px;

        @media (min-width: $breekpunt) {
            font-size: 100px;
        }

        @media (min-width: $breekpuntsm) {
            font-size: 130px;
        }

        @media (min-width: $breekpuntmd) {
            font-size: 160px;
        }
    }
}


.behandeling-fl {
    background-color: $colorLG;

    .image-container {
        min-height: 350px;

        @media (min-width: $breekpuntmd) {
            min-height: 600px;
        }

        .img {
            width: 100%;
            height: auto;
            padding-top: 80px;

            @media (min-width: $breekpuntmd) {
                padding-top: 0px;
            }
        }
    }

    h5 {
        font-family: $fontset1;
        color: $colorDG;
        font-size: 48px;
        padding-top: 20px;

        @media (min-width: $breekpunt) {
            padding-top: 10px;
        }
    }

    p {
        padding-bottom: 60px;

        @media (min-width: $breekpunt) {
            padding-bottom: 0px;
        }

    }
}

/* Header Getuigenissen*/
.header-getuigenis-fl {
    padding-top: 80px;
    background: url("images/headerDBLB.png") center;
    min-height: 400px;
    background-size: cover;

    @media (min-width: $breekpuntsm) {
        padding-top: 150px;
        padding-bottom: 130px;
        padding-left: 120px;
        padding-right: 120px;
        min-height: 600px;
    }

    h1 {
        font-family: $fontset1;
        color: $colorLB;
        text-align: center;
        font-size: 70px;

        @media (min-width: $breekpunt) {
            font-size: 100px;
        }

        @media (min-width: $breekpuntsm) {
            font-size: 120px;
        }

        @media (min-width: $breekpuntmd) {
            font-size: 160px;
        }
    }
}

.getuigenissen-fl {
    background-color: $colorLB;
    padding-bottom: 100px;
    padding-top: 50px;


    .getuigenissen {

        @media (min-width: $breekpunt) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        p {
            font-style: italic;
        }

        /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: $breekpuntsm) {
                margin-top: 50px;
            }

            @media (min-width: $breekpuntmd) {
                margin-top: 20px;
            }

            @media (min-width: $breekpuntlg) {

                width: 350px;
                height: 350px;
                margin-top: 30px;
            }
        }

        /* This container is needed to position the front and back side */
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .img {
            width: 100%;
            height: auto;
        }

        .text {
            padding-top: 80px;

            h2 {
                font-family: $fontset1;
                color: $colorLB;
                font-size: 60px;
            }

            h3 {
                font-family: $fontset2;
                color: $colorLB;
                font-size: 24px;
                font-weight: 400;
            }

            p {
                font-family: $fontset2;
                color: $colorLB;
                font-size: 20px;
                font-weight: 300;
            }
        }


        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        /* Position the front and back side */
        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
            background-color: $colorDB;
        }

        /* Style the back side */
        .flip-card-back {
            background-color: $colorDB;
            transform: rotateY(180deg);
        }
    }
}

/* Praatgroep */
.praatgroep-fl {
    background: url("images/praatgroep.png") center;
    min-height: 900px;
    background-size: cover;

    .praatgroep {
        padding-top: 200px;
        padding-bottom: 60px;

        @media (min-width: $breekpunt) {
            padding-top: 200px;
        }

        @media (min-width: $breekpuntmd) {
            padding-top: 300px;
        }

        .img {
            width: 100%;
            height: auto;
            padding-bottom: 100px;

            @media (min-width: $breekpunt) {
                padding-bottom: 80px;
            }
        }

        h5 {
            font-family: $fontset2;
            color: $colorDG;
            font-weight: 500;
            font-size: 56px;
            text-align: center;

            @media (min-width: $breekpunt) {
                font-size: 68px;
            }
        }

        p {
            color: $colorDG;
            text-align: center;
            padding-top: 30px;
            padding-left: 15px;
            padding-right: 15px;
            line-height: 1.8rem;
        }
    }
}




/* footer met achtergrond test */

.footer-fl {
    background: url("images/footerDBLG.png") center;
    height: 200px;
    background-size: cover;
    padding-top: 60px;

    @media (min-width: $breekpunt) {
        height: 510px;

    }


}

.footerg-fl {
    background: url("images/footerDBLB.png") center;
    height: 200px;
    background-size: cover;
    padding-top: 60px;

    @media (min-width: $breekpunt) {
        height: 510px;

    }
}

.footero-fl {
    background: url("images/footerDBY.png") center;
    height: 200px;
    background-size: cover;
    padding-top: 60px;

    @media (min-width: $breekpunt) {
        height: 510px;

    }
}

/* Header giften */
.header-giften-fl {
    padding-top: 80px;
    background: url("images/headerDBLB.png") center;
    min-height: 400px;
    background-size: cover;

    @media (min-width: $breekpuntsm) {
        padding-top: 150px;
        padding-bottom: 130px;
        padding-left: 120px;
        padding-right: 120px;
        min-height: 600px;
    }

    h1 {
        font-family: $fontset1;
        color: $colorLB;
        text-align: center;
        font-size: 70px;

        @media (min-width: $breekpunt) {
            font-size: 100px;
        }

        @media (min-width: $breekpuntsm) {
            font-size: 110px;
        }

        @media (min-width: $breekpuntmd) {
            font-size: 160px;
        }
    }
}

/* crowdfunding */
.crowdfunding-fl {
    background-color: $colorLB;
    padding-top: 100px;

    h1 {
        font-family: $fontset2;
        color: $colorDG;
        padding-bottom: 20px;
        font-size: 48px;
        padding-top: 70px;

        @media (min-width: $breekpuntsm) {
            padding-top: 0px;
        }
    }

    p {
        font-family: $fontset2;
        color: $colorDG;
        padding-bottom: 20px;
        line-height: 1.7rem;
    }

    h2 {
        font-family: $fontset1;
        color: $colorDB;
        padding-bottom: 150px;
        font-size: 60px;
        line-height: 4rem;
        text-align: center;
        padding-top: 20px;
    }

    .progress-bar {
        background-color: $colorDB;
        color: $colorLB;
    }

    h3 {
        font-family: $fontset2;
        color: $colorDB;
        font-size: 42px;
        text-align: center;
        padding-top: 20px;
        font-style: italic;
        padding-bottom: 60px;
    }

    h4 {
        font-family: $fontset2;
        color: $colorDG;
        padding-bottom: 20px;
        text-align: center;
        font-size: 56px;
    }



    .theme-blue {
        color: $colorDB;
    }

    .theme-background-lb {
        background-color: $colorLB;
        color: #4c4c4c;
        border: 3px solid $colorDB;
        border-radius: 50px;

    }

    .donate-bar {
        padding: 32px 23px 28px;
    }

    .donate-bar>div:first-child {
        font-family: $fontset2;
        font-weight: 500;
        border-right: 1px dotted $colorDB;
        margin-top: 19px;
        font-size: 25px;
        padding: 0;
    }

    .donate-buttons>li>a {
        font-size: 17px;
        font-family: $fontset2;
        font-weight: bold;
        position: relative;
        display: block;
        padding: 10px 3px;
        border-radius: 5px;
    }

    .btn-blue-other,
    .btn-blue {
        font-family: $fontset2;
        background-color: $colorDB;
        color: $colorLG;
        border-radius: 20px;
        border: 0;
        padding: 0;
        width: 75px;
        height: 37px;
        margin-top: 8px;
    }

    .btn-blue:hover {
        background-color: $colorLG;
        color: $colorDB;
    }

    .btn-blue-other:hover {
        background-color: $colorLG;
        color: $colorDB;
    }

    .btn-grey {
        font-family: $fontset2;
        background-color: $colorDG;
        color: $colorLG;
        border-radius: 20px;
        border: 0;
        padding: 0;
        width: 114px;
        height: 37px;
        margin-top: 8px;
    }

    .btn-grey:hover {
        background-color: $colorY;
        color: $colorDG;
    }

    #other-input {
        display: none;
    }

    #other-input input {
        position: relative;
        background-color: $colorLG;
        color: $colorDB;
        border-radius: 20px;
        border: 0;
        border: 3px solid $colorDB;
        padding: 0 0 3px 15px;
        width: 75px;
        height: 37px;
        margin: 18px 3px 0;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #other-input span {
        font-family: inherit;
        color: $colorDB;
        position: absolute;
        padding: 23px 12px;
        z-index: 10;
        pointer-events: none;
    }

    .donate-buttons .active {
        background-color: $colorLB;
        border: 3px solid $colorDB;
        color: $colorDB;
    }

    .donate-buttons:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }

    .donate-buttons li:last-child {
        font-size: 17px;
        line-height: 37px;
        padding-left: 20px;
        padding-top: 15px;
    }

    h6 {
        font-family: $fontset2;
        color: $colorDG;
        font-size: 32px;
    }
}